@charset "UTF-8";

/* 回答はここに書いてね */
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}



.q7__box.is-float {
  margin-left: 50px;
  float: left;
  font-size: 16px;
  box-sizing: border-box;
  width: 225px;
}

.q7__box.is-float:first-child {
  margin-left: 0;
}

.q7__inner.is-content {
  display: table;
}

.q7__box.is-wrapper {
  display: table-cell;
  vertical-align: middle;
  padding-left: 50px;
  width: 225px;
}

.q7__box.is-wrapper:first-child {
  padding-left: 0;
}

.q7__box__text.is-table {
  font-size: 16px;
}

.q7__inner.is-mein {
  font-size: 0;
}

.q7__box.is-inlineblock {
  display: inline-block;
  vertical-align: middle;
  font-size: 16px;
  margin-left: 50px;
  box-sizing: border-box;
  width: 225px;
}

.q7__box.is-inlineblock:first-child {
  margin-left: 0;
}

.q7__inner.is-primary {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

.q7__box.is-flex {
  font-size: 16px;
  vertical-align: middle;
  box-sizing: border-box;
  width: 225px;
}

.q7 .q7__inner.is-full {
  width: 100%;
  box-sizing: border-box;
}

.q7__inner.is-general {
  font-size: 0;
}

.q7__box.is-fixed {
  display: inline-block;
  width: 300px;
  vertical-align: top;
}

.q7__box__text.is-margin {
  font-size: 16px;
}

.q7__box.is-variable {
  display: inline-block;
  width: 100%;
  box-sizing: border-box;
  margin-left: -305px;
  padding-left: 350px;
}
/* 回答はここに書いてね */
